* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
  padding: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardboard{
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid black;
}

.cardboard.winner {
    background: green;
}

.cardboard .number.checked {
  background: red;
  text-decoration: line-through;
}

.drum{
  display: flex;
  flex-direction: column;
}
.drum .drumNumber {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  border: 2px solid black;
}
